**
!home
!home/.local
!home/.local/envs
!home/.local/envs/insar_analysis.yml
!home/.local/envs/inverse.yml
!build.sh
!run.sh
!dockerfile
!.gitignore
!.dockerignore
!etc/
!etc/**
!README.md
!img/
!img/**
!images
!inverse
!inverse/etc
!inverse/etc/**
!inverse/envs
!inverse/envs/**
!Makefile
