**
!home
!home/.local
!home/.local/envs
!home/.local/envs/rtc_analysis_env.yml
!build_start_geos639_container.sh
!dockerfile
!.gitignore
!.dockerignore
!etc/
!etc/**
!README.md
!img/
!img/**
!images
!inverse
!inverse/etc
!inverse/etc/**
!inverse/envs
!inverse/envs/**
!Makefile